.container{
    width: 1280px;
    margin: 0 auto;
    font-family: Myriad Pro, sans-serif;
}
a {
    text-decoration: none;
}
.logo{
    color:  #000000;
    font-size: 80px;
    margin-bottom: 48px;
}
.logo span{
    color: #4bcaff;
}
.nav-menu{
    background-color: #35444f;
    height: 69px;
    text-align: center;
    margin-bottom: 50px;
}
.nav-item {
    display: inline-block;
    font-size: 24px;
    padding: 22px 26px;

}
.nav-item a{
    color: #ffffff;
}
.nav-item:hover {
    background-color:  #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    }
.side-bar {
    float: left;
    border: 1px solid black;
    width: 344px;
}
.side-item a {
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    padding-left: 40px;
}
.side-item:hover{
    background:lightgrey;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 15px;
    transition: transform 0.3s linear;
   }
.side-item a:hover{
    color: black;
}
.img-placeholder{
    float: right;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    text-align: center;
    margin-bottom: 20px;
}
.img-placeholder:hover .ramda-logo {
    transform: scale(1.1);
}
.ramda-logo {
    margin-top: 75px;
    transition: transform 0.3s linear;
}
.text-input{
    clear: both;
}
.text-item{
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    margin-right: 60px;
    margin-left: 440px;
    padding-top: 30px;
}
.low-nav-menu{
    background: lightgrey;
    height: 69px;
    margin-top: 40px;
    padding-left: 35px;
}
.low-nav-item{
    display: inline-block;
    font-size: 28px;
    text-align: left;
    padding: 21px 5px;
}
.low-nav-item a{
    color: black;
}
.low-nav-item a:hover{
    color:#3181a6;
    border-bottom: 2px solid #3181a6 ;
    }
.low-nav-copy{
    display: inline-block;
    color:  black;
    font-size: 24px;
    font-weight: 400;
    margin-left: 200px;
}